{% comment %}
<ul class="social-links-footer list-inline">
    <li class="list-inline-item">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="#"><i class="fab fa-instagram"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="#"><i class="fas fa-rss"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="#"><i class="fab fa-vimeo"></i></a>
    </li>
</ul>
{% endcomment %}
