---
layout: default
---

<section class="banner-two bg-banner-two overlay-white-slant text-overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
	        <!-- Content Block -->
	        <div class="block">
	            <h1>SDSF:<span class="alternate">Hydra</span></h1>
	            <h2>Secure,</h2>
                    <h2>Distributed</h2>
                    <h3>Storage</h3>
                    <h3>Framework</h3>
	        </div>
            </div>
        </div>
    </div>
</section>

<section class="section about">
    <div class="container">

        {{ content }}
        
    </div>
</section>
