---
---

<span id="{{ entry.key }}"> <div class="csl-block csl-content", style="line-height:150%">
  <div class="csl-block csl-title">
    {% if entry.url %}
      <a target="_blank" title='PDF' href="{{ entry.url }}"><i class="fas fa-file-pdf"></i></a>
      <a href="{{ entry.url }}">
    {% endif %}
    <b class="pub-title">{{ entry.title }}</b>. {% if entry.status %} (<i>{{ entry.status }}</i>) {% endif %}
    {% if entry.url %}
      </a>
    {% endif %}
  </div>
  <div class="csl-block csl-author"><i>by </i>{{ entry.author }}.</div>
  
  <div class="csl-block csl-event">
    {% if entry.type == "techreport" or entry.type == "Tech. Report" %}
      Technical Report {{ entry.number }}, 
    {% endif %}
    {% if entry.booktitle %} In <i>{{ entry.booktitle }}</i>, {% endif %}
    {% if entry.journal %} In <i>{{ entry.journal }}</i>, {% endif %}
    {% if entry.pages %} pp. {{ entry.pages }}, {% endif %}
    {% if entry.month %} {{ entry.month | capitalize }}, {% endif %}
    {{ entry.year }}.
  </div>

  {% if entry.video %}
  &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ entry.video }}" target="presentation"><i class="fa fa-file-video-o">&nbsp;</i> Paper presentation</a>
  {% endif %}
  
</div></span>
